


/* ---------------------- 封面图片放右侧 ------------------------ */

.entry-cover1 {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; //问gpt修复目录与封面图靠得太近的问题
}

.post-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.entry-cover {
    border-radius: 10px;
    overflow: hidden;
    width: 50%;
    margin-bottom: unset;

    max-height: 150px;
    display: grid;
    align-content: center;
}

.post-info {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    padding-right: 10px;
}

/* ------------------------------------------------------ */

img {
    opacity: 1;
    border-radius: 10px;
    border: 0px solid var(--border);
}
